.history
.vscode/*
!.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
.runlogs/
logs
fatal
.idea
victoria-logs-data
dump
record
bin
.DS_Store
*.db
*.db-journal
*.db-wal
*.db-shm
!plugin/record
*.flv
pullcf.yaml
*.zip
*.mp4
!plugin/hls/hls.js.zip
__debug*
.cursorrules
example/default/*
!example/default/main.go
!example/default/config.yaml
!example/default/test.flv
!example/default/test.mp4
shutdown.sh
!example/test/test.db
node_modules
data
shutdown.bat
3rd/ffmpeg6

# local build/run artifacts
/cluster
example/cluster/*.exe
example/cluster/run-logs*/
example/cluster/cluster-error-logs/
example/cluster-test/
