.history
.vscode
logs
fatal
.idea
victoria-logs-data
dump
record
bin
.DS_Store
*.db
!plugin/record
*.flv
pullcf.yaml
*.zip
*.mp4
!plugin/hls/hls.js.zip
__debug*
.cursorrules
example/default/*
!example/default/main.go
!example/default/config.yaml
!example/default/test.flv
!example/default/test.mp4
shutdown.sh
!example/test/test.db
shutdown.bat3rd/ffmpeg6
pro_darwin_amd64
pro_linux_amd64
pro_linux_arm64
example/cascade/pro_darwin_amd64
example/cascade/activate_m7s.key
build_docker_pro.sh
DockerfilePro
example/cascade/config1.yaml
example/cascade/config2.yaml
example/cascade/config3.yaml
example/cascade/config4.yaml
